.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/self-commerce-de.iml
.idea/vcs.xml
.idea/.name
.idea/workspace.xml

templates_c/*.*.php
stats
images/product_images/info_images/*.jpg
images/product_images/original_images/*.jpg
images/product_images/popup_images/*.jpg
images/product_images/thumbnail_images/*.jpg
images/product_images/info_images/*.JPG
images/product_images/original_images/*.JPG
images/product_images/popup_images/*.JPG
images/product_images/thumbnail_images/*.JPG
images/product_images/info_images/*.png
images/product_images/original_images/*.png
images/product_images/popup_images/*.png
images/product_images/thumbnail_images/*.png
images/product_images/info_images/*.gif
images/product_images/original_images/*.gif
images/product_images/popup_images/*.gif
images/product_images/thumbnail_images/*.gif
admin/invoice/*.pdf
.DS_Store
admin/.DS_Store
admin/includes/configure.php
includes/configure.php
cache/*
