.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/self-commerce-de.iml
.idea/vcs.xml
.idea/.name
.idea/workspace.xml

templates_c/*.*.php
stats
images/product_images/info_images/*.jpg
images/product_images/original_images/*.jpg
images/product_images/popup_images/*.jpg
images/product_images/thumbnail_images/*.jpg
admin/invoice/*.pdf
.DS_Store
admin/.DS_Store
