# --------------------------------------------------------------
# $Id: .htaccess,v 1.2 2004/04/14 19:26:25 fanta2k Exp $
#
# Self-Commerce - Fresh up your eCommerce
# http://www.self-commerce.de
# Copyright (c) 2012 Self-Commerce
# --------------------------------------------------------------
# based on: 
# (c) 2000-2001	The Exchange Project 
# (c) 2002-2003	osCommerce www.oscommerce.com 
# (c) 2003			nextcommerce www.nextcommerce.org 
# (c) 2004			XT-Commerce www.xt-commerce.com
# Released under the GNU General Public License 
# --------------------------------------------------------------
#
# This is used with Apache WebServers
# The following blocks direct HTTP requests in this directory recursively
#
# For this to work, you must include the parameter 'Limit' to the AllowOverride configuration
#
# Example:
#
#<Directory "/usr/local/apache/htdocs">
#  AllowOverride Limit
#
# 'All' with also work. (This configuration is in your apache/conf/httpd.conf file)
#
# This does not affect PHP include/require functions
#
# Example: http://server/catalog/includes/application_top.php will not work

<Files *.html>
	Order Deny,Allow
	Deny from all
</Files>
<Files *.php>
	Order Deny,Allow
	Deny from all
</Files>

RewriteEngine On
RedirectMatch permanent (.*)\.php$ /error/nophp.html
RedirectMatch permanent (.*)\.php3$ /error/nophp.html
RedirectMatch permanent (.*)\.php4$ /error/nophp.html
RedirectMatch permanent (.*)\.php5$ /error/nophp.html