{config_load file="$language/lang_$language.conf" section="account_history"}
<div class="contentsborder">
<div class="contentsTopics">{#heading_history#} </div>
<div id="contentsBG">
{foreach name=aussen item=order_data from=$order_content}
<div class="formAreaTitle">{#text_oid#}{$order_data.ORDER_ID}</div>
<div class="formArea">
	<font size="2"><strong>{#text_date#}</strong>&nbsp;&nbsp;{$order_data.ORDER_DATE}</font><br />
	<strong>{#text_articles#}</strong>&nbsp;&nbsp;{$order_data.ORDER_PRODUCTS} <br />
    <strong>{#text_total#}</strong>{$order_data.ORDER_TOTAL}<br />
    <strong>{#text_status#}</strong>&nbsp;&nbsp;{$order_data.ORDER_STATUS} 
    <br />
    <div id="button_right">{$order_data.ORDER_BUTTON}</div>
</div>
{/foreach}
<table class="tableabstand" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr> 
		<td class="main">{$SPLIT_BAR}</td>
    </tr>
    <tr>
		<td align="left">{$BUTTON_BACK}</td>
    </tr>
</table>
</div></div>