{config_load file="$language/lang_$language.conf" section="address_book"}
<div class="contentsborder">
<div class="contentsTopics">{#heading_address#}</div>
{$FORM_ACTION}
<div id="contentsBG">
{if $error!=''}
<div class="errorBox2">{$error}</div>
{/if}
<div class="formAreaTitle abstand">{#title_standard#}</div>
	<table class="formArea" width="100%" border="0" cellspacing="5" cellpadding="0">
		<tr>
			<td class="main" valign="top" width="55%" rowspan="2">{#text_standard#}</td>
			<td colspan="2" class="main" ><strong>{#title_standard#}</strong></td>
		</tr>
		<tr>
			<td class="arrow">&nbsp;</td>
			<td valign="top" class="address_lable">{$ADDRESS_DEFAULT}</td>
		</tr>
	</table>
<div class="formAreaTitle abstand">{#title_addresses#}</div>
<table class="formArea" width="100%" border="0" cellspacing="5" cellpadding="0">
	<tr> 
		<td valign="top" class="main"><br />
            {foreach name=aussen item=addresses from=$addresses_data} 
			<table width="100%" border="0" cellspacing="0" cellpadding="2">
				<tr class="moduleRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
					<td ><strong>{$addresses.NAME}</strong> {if $addresses.PRIMARY=='1'} 
						<em>({#title_standard#})</em> {/if}</td>
					<td align="right">{$addresses.BUTTON_EDIT} {$addresses.BUTTON_DELETE}</td>
				</tr>
				<tr>
	                <td class="main">{$addresses.ADDRESS}</td>
	                <td>&nbsp;</td>
				</tr>
			</table>
			{/foreach}
		</td>
	</tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    	<td>{$BUTTON_BACK}</td>
    	<td align="right">{$BUTTON_NEW}<br /></td>
  	</tr>
</table>
</div> </div>
<div class="main abstand">{$ADDRESS_COUNT}</div>