{config_load file="$language/lang_$language.conf" section="checkout_success"}
{$FORM_ACTION}
<div class="contentsborder">
<div class="contentsTopics">{#heading_success#}&nbsp;&nbsp;&nbsp;&nbsp;4 / 4</div>
<div id="contentsBG">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td rowspan="7" class="checkout_success"></td>
    <td valign="top"></td>
  </tr>
  <tr>
    <td class="main" valign="top">{#text_success#}</td>
  </tr>
  <tr>
    <td class="successTopics" valign="top">{#title_printorder#}</td>
  </tr>
  <tr>
    <td class="main" valign="top">{#text_printorder#}</td>
  </tr>
  <tr>
    <td class="main">{$BUTTON_PRINT}</td>
  </tr>
  <tr>
    <td class="successTopics" valign="top">{#text_thankyou#}</td>
  </tr>
  <tr>
    <td class="successTopics" valign="top">
		<div class="main">
			{if $GV_SEND_LINK}
			<!--GV Code Start-->
			{#gv_has_vouchera#} {$GV_SEND_LINK} {#gv_has_voucherb#}
			<!--GV Code End-->
			{/if}
		</div>
		<div id="button_right">{$BUTTON_CONTINUE}</div>
	</td>
  </tr>
</table>
<!-- Google Conversion-tracking start !-->
{if $google_tracking eq 'true'}
{$tracking_code}
{/if}
<!-- Google Conversion-tracking end !-->
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_shipping_info#}</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_confirm#}</td>            
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_finished#}</td>
		<td width="20%" align="left" class="checkout_bullet">&nbsp;</td> 
	</tr>
</table>
</div></div>
{if $downloads_content neq ''}
  {$downloads_content}
{/if}
{$FORM_END}
<!-- Google Analytics start !-->
<form style="display:none;" name="utmform">
<textarea id="utmtrans">
UTM:T|{$oID}|domainname.de|{$VALUE}|{$TAX}|{$SHIPPING}|{$CITY}|{$STATE}|{$COUNTRY}{foreach name=aussen item=order_values from=$order_data} 
UTM:I|{$oID}|{$order_values.PRODUCTS_MODEL}|{$order_values.PRODUCTS_NAME}|{$order_values.CAT}|{$order_values.PRODUCTS_SINGLE_PRICE}|{$order_values.PRODUCTS_QTY}{/foreach}
</textarea>
</form>
<!-- Google Analytics end !-->
