{config_load file="$language/lang_$language.conf" section="checkout_shipping_address"}
<div class="contentsborder">
<div class="contentsTopics">{#heading_address#}&nbsp;&nbsp;&nbsp;&nbsp;1 / 4</div>
{$FORM_ACTION}
<div id="contentsBG">
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_shipping_info#}</td>
		<td width="20%" align="left" class="checkout_bullet2">&nbsp;</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_confirm#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
{if $error!=''}
<div class="errorBox">{$error}</div>
{/if}
<div class="checkoutTitle">{#title_current_address#}</div>
<table class="checkoutTable" width="100%" border="0" cellspacing="5" cellpadding="0">
		<tr>
			<td class="main" valign="top" width="55%" rowspan="2">{#text_current_address#}<br /><br /></td>
			<td colspan="2" class="main" ><strong>{#title_current_address#}</strong></td>
		</tr>
		<tr>
			<td class="arrow">&nbsp;</td>
			<td valign="top" class="address_lable">{$ADDRESS_LABEL}</td>
		</tr>
</table>
{if $BLOCK_ADDRESS}
<div class="checkoutTitle">{#title_old_addresses#}</div>
<div class="checkoutTable">{#text_old_addresses#}<br /><br />
{$BLOCK_ADDRESS}<br />
</div>
{/if}
{if $MODULE_new_address}<br />
{$MODULE_new_address}
{/if}
<div class="checkoutTitle">{#title_continue#}</div>
<table class="checkoutTable" width="100%" border="0" cellspacing="5" cellpadding="0">
	<tr> 
		<td valign="top" class="main">{#text_continue#}</td>
		<td class="main" align="right">{$BUTTON_CONTINUE}</td>
	</tr>
</table>
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_shipping_info#}</td>
		<td width="20%" align="left" class="checkout_bullet2">&nbsp;</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_confirm#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
</div>
{$FORM_END}</div>