{config_load file="$language/lang_$language.conf" section="checkout_shipping"}
<div class="contentsborder">
<div class="contentsTopics">{#heading_shipping#}&nbsp;&nbsp;&nbsp;&nbsp;1 / 4</div>
<div id="contentsBG">
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_shipping_info#}</td>
		<td width="20%" align="left" class="checkout_bullet">&nbsp;</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_confirm#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
<div class="checkoutTitle">{#title_address#}</div>
{$FORM_ACTION}
<table class="checkoutTable" width="100%" border="0" cellspacing="5" cellpadding="0">
		<tr>
			<td class="main" valign="top" width="55%" rowspan="2">{#text_addressbook#}<br /><br />
			{$BUTTON_ADDRESS}</td>
			<td colspan="2" class="main" ><strong>{#title_address#}</strong></td>
		</tr>
		<tr>
			<td class="arrow">&nbsp;</td>
			<td valign="top" class="address_lable">{$ADDRESS_LABEL}</td>
		</tr>
</table>
<div class="checkoutTitle">{#title_shipping#}</div>
<div class="checkoutTable">{#text_shipping#}<br /><br />{$SHIPPING_BLOCK}</div>
<div class="checkoutTitle">{#title_continue#}</div>
<table class="checkoutTable" width="100%" border="0" cellspacing="5" cellpadding="0">
	<tr> 
		<td valign="top" class="main">{#text_continue#}</td>
		<td class="main" align="right">{$BUTON_CONTINUE}</td>
	</tr>
</table>
{$FORM_END}
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_shipping_info#}</td>
		<td width="20%" align="left" class="checkout_bullet">&nbsp;</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_confirm#}</td>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
</div></div>