{config_load file="$language/lang_$language.conf" section="checkout_confirmation"} 
<div class="contentsborder">
<div class="contentsTopics">{#heading_confirmation#}&nbsp;&nbsp;&nbsp;&nbsp;3 / 4</div>
<div id="contentsBG">
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_shipping_info#}</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_confirm#}</td>
		<td width="20%" align="left" class="checkout_bullet">&nbsp;</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
<div class="confirmationText">{#alert#}</div>
{if $IP_LOG=='true'} 
<table class="tableabstand" width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
    <td class="main"><strong>{#text_ip#}</strong></td>
    <td class="inputRequirement"><strong>{$CUSTOMERS_IP}</strong></td>
  </tr>
</table>
{/if}
<table class="checkoutTitle" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td valign="top">{#text_shipping_address#}&nbsp;&nbsp;<a class="confirmationEdit" href="{$SHIPPING_ADDRESS_EDIT}">{#text_edit#}</a></td>
    <td valign="top" >{if $BILLING_LABEL}{#text_payment_address#}&nbsp;&nbsp;<a class="confirmationEdit" href="{$BILLING_ADDRESS_EDIT}">{#text_edit#}</a>{/if}</td>
  </tr>
</table>
<table class="checkoutTable" width="100%" border="0" cellspacing="5" cellpadding="0">
  <tr>
  	<td class="main">{$DELIVERY_LABEL}</td>
  	<td class="main">{if $BILLING_LABEL}{$BILLING_LABEL}{/if}</td>
  </tr>
</table>
{if $SHIPPING_METHOD}
<div class="checkoutTitle">{#text_shipping_method#}&nbsp;&nbsp;<span class="checktext">{$SHIPPING_METHOD}</span>&nbsp;&nbsp;<a href="{$SHIPPING_EDIT}" class="confirmationEdit">{#text_edit#}</a></div> 
{/if}
{if $PAYMENT_METHOD!=''}
<div class="checkoutTitle">{#text_payment_method#}&nbsp;&nbsp;<span class="checktext">{$PAYMENT_METHOD}</span>&nbsp;&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">{#text_edit#}</a></div>
{/if}
{if $ORDER_COMMENTS!=''}
<div class="checkoutTitle">{#text_comments#}&nbsp;&nbsp;<a href="{$PAYMENT_EDIT}" class="confirmationEdit">{#text_edit#}</a></div> 
<div class="checkoutTable main">{$ORDER_COMMENTS}</div>
{/if} 
{if $PAYMENT_INFORMATION!=''}
<div class="checkoutTitle">{#text_payment_info#}</div> 
<div class="checkoutTable main">{$PAYMENT_INFORMATION}</div>
{/if} 
<div class="checkoutTitle">{#text_products#}&nbsp;&nbsp;<a href="{$PRODUCTS_EDIT}" class="confirmationEdit">{#text_edit#}</a></div> 
<div class="checkoutTable main">{$PRODUCTS_BLOCK}</div>
<div class="checkoutTable main" align="right">{$TOTAL_BLOCK}</div>
<div id="button_right">{$CHECKOUT_FORM} {if $MODULE_BUTTONS!=''} {$MODULE_BUTTONS}<br />{/if} {$CHECKOUT_BUTTON}<br /><br /></div>
<table class="tableabstand" border="0" width="100%" cellspacing="0" cellpadding="0">
	<tr>            
		<td width="20%" align="center" class="checkoutBarTo">{#text_shipping_info#}</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_payment_info#}</td>
		<td width="20%" align="center" class="checkoutBarCurrent">{#text_confirm#}</td>
		<td width="20%" align="left" class="checkout_bullet">&nbsp;</td>
		<td width="20%" align="center" class="checkoutBarTo">{#text_finished#}</td>
	</tr>
</table>
</div></div>