{config_load file="$language/lang_$language.conf" section="reviews"}
<div class="contentsborder">
<div class="contentsTopics">{#heading_reviews#}</div>
<div id="contentsBG">
<table  width="100%" border="0" cellspacing="0" cellpadding="5">
	{foreach name=aussen item=module_data from=$module_content} 
	<tr class="products_table"> 
	    <td class="line_bottom" width="1" valign="top"><a href="{$module_data.PRODUCTS_LINK}"><img src="{$module_data.PRODUCTS_IMAGE}" alt="{$module_data.PRODUCTS_NAME}" border="0" /></a></td>
	    <td class="line_bottom main"><strong>{#text_product#} </strong>&nbsp;&nbsp; <a class="products_link" href="{$module_data.PRODUCTS_LINK}">{$module_data.PRODUCTS_NAME}</a><br />
	      <strong>{#text_author#}</strong>&nbsp;&nbsp; {$module_data.AUTHOR} <br />
	      <br />
	      <strong>{#text_text#}</strong><br />
	      {$module_data.TEXT} <br />
	      <br />
	      <strong>{#text_rating#}</strong> {$module_data.RATING}</td>
	</tr>
	{/foreach} 
</table>
<br />
<div class="navbar">{$NAVBAR}</div>
</div>
</div>