{config_load file="$language/lang_$language.conf" section="boxes"}
<div class="shopbox">
<div class="infoBoxHeading_left">{#heading_last_viewed#}</div>
	<div class="infoBox_left_center boxText">
	  	{if $box_content.PRODUCTS_IMAGE!=''}<a href="{$box_content.PRODUCTS_LINK}"><img src="{$box_content.PRODUCTS_IMAGE}" alt="{$box_content.PRODUCTS_NAME}" /></a>
					<br />{/if}
	  	<a class="boxLink" href="{$box_content.PRODUCTS_LINK}">{$box_content.PRODUCTS_NAME}</a>
	  	<div class="boxPrice">{$box_content.PRODUCTS_PRICE}<br />
	  		<span class="box_shipping_link">{if $box_content.PRODUCTS_VPE}{$box_content.PRODUCTS_VPE}<br />{/if}{$box_content.PRODUCTS_TAX_INFO}{$box_content.PRODUCTS_SHIPPING_LINK}</span></div>
	 <div align="left"> 	
	  	<a class="boxLinkText" href="{$MY_PERSONAL_PAGE}">{#text_my_page#}&nbsp;&raquo;</a><br />
	  	{#text_watch_category#}&nbsp;<a class="boxLinkText" href="{$CATEGORY_LINK}">{$CATEGORY_NAME}</a></div>
	
	</div>
</div>