# --------------------------------------------------------------
# $Id: .htaccess 10 2012-04-28 03:21:05Z deisold $
#
# Self-Commerce - Fresh up your eCommerce
# http://www.self-commerce.de
# Copyright (c) 2012 Self-Commerce
#
# --------------------------------------------------------------

RewriteEngine On
RedirectMatch permanent (.*)\.php$ /error/nophp.html
RedirectMatch permanent (.*)\.php3$ /error/nophp.html
RedirectMatch permanent (.*)\.php4$ /error/nophp.html
RedirectMatch permanent (.*)\.php5$ /error/nophp.html