{config_load file="$language/lang_$language.conf" section="account_password"}


<h2>{#heading_password#}</h2>
	{$FORM_ACTION}<br />


		{if $error!=''}
		 <p><strong class="error">{$error}</strong></p>
		{/if}
<br />
		<p class="must">{#text_must#}</p>
<p>
		<div class="floatbox">
    <label>{#text_actual#}</label>
		{$INPUT_ACTUAL}</div>
    
    <div class="floatbox">
		<label>{#text_new#}</label>
		{$INPUT_NEW}</div>
		

		<div class="floatbox">
    <label>{#text_confirm#}</label>
		{$INPUT_CONFIRM}</div>
</p>

	<div class="floatbox">
			<div class="leftCol">{$BUTTON_BACK}</div>
			<div class="rightCol">{$BUTTON_SUBMIT}</div>
	</div>

	{$FORM_END}
