{config_load file="$language/lang_$language.conf" section="advanced_search"}

<h2>{#heading_search#}</h2>
<br />

{$FORM_ACTION}
  {if $error!=''}<p><strong class="error">{$error}</strong></p>{/if}

	<div class="floatbox"><label>{#title_keywords#}</label>
  {$INPUT_KEYWORDS|replace:'style="width: 100%"':''}<a class="thickbox" href="{$HELP_LINK}">{#text_help#}</a></div>

  <div class="floatbox"><label>{#text_categories#}</label>
  {$SELECT_CATEGORIES}</div>

  <div class="floatbox"><label>{#text_subkategories#}</label>{$ENTRY_SUBCAT}</div>

  <div class="floatbox"><label>{#text_manufacturer#}</label>
  {$SELECT_MANUFACTURERS}</div>

  <div class="floatbox"><label>{#text_min#}</label>
  {$SELECT_PFROM}</div>

  <div class="floatbox"><label>{#text_max#}</label>
  {$SELECT_PTO}</div>

{$BUTTON_SUBMIT}

{$FORM_END}

