
{config_load file="$language/lang_$language.conf" section="new_password"}
<h2>{$text_heading}</h2>
	{if $info_message!=''}
	<p>{$info_message}</p>
	{/if}
	{$FORM_ACTION}
		<p>{#text_info_pre#} <strong>{$SHOP_NAME}</strong> {#text_info_post#}</p>

		<div class="floatbox"><p>{$VVIMG}</p></div>
		<div class="floatbox"><label>{#text_sec_code#}:</label>
		{$INPUT_CODE|replace:"type=\"\"":"type=\"text\""|replace:"maxlenght":"maxlength"}</div>
    
    <div class="floatbox">
		<label>{#text_email#}</label>
		{$INPUT_EMAIL}</div>
    
    <div class="floatbox">
		<p>{#text_continue#}</p>
    </div>
		
		{$BUTTON_SEND}
		{$FORM_END}
