{config_load file="$language/lang_$language.conf" section="shopping_cart"}

<h2>{#heading_cart#}</h2>
{if $info_message!=''}<p class="error">{$info_message}</p>{/if}
{if $cart_empty==true}
	<p>{#text_empty#}</p>
	<p>{$BUTTON_CONTINUE}</p>
{else}
	{$FORM_ACTION}
	{$HIDDEN_OPTIONS}
	{$MODULE_order_details}
	{if $info_message_1!=''}<p class="error">{$info_message_1}{$min_order}{$info_message_2}{$order_amount}</p>{/if}
	{if $error!=''}<p class="error">{$error}</p>{/if}
	<div class="floatbox">
		<div class="leftCol">&nbsp;</div>
		{if $BUTTON_PAYPAL!=''}
		    <div class="rightCol">{$BUTTON_PAYPAL}&nbsp;{#text_or#}&nbsp;{$BUTTON_RELOAD}&nbsp;{$BUTTON_CHECKOUT}</div>
		{else}
		    <div class="rightCol">{$BUTTON_RELOAD}&nbsp;{$BUTTON_CHECKOUT}</div>
		{/if}
	</div>
	<br class="clearHere" /><br class="clearHere" />
	{$FORM_END}
	<div style="text-align:right;padding-top:10px;" id="payWithAmazonDiv"></div>
	{$MODULE_gift_cart}
{/if}
{if $module_content}
	<table width="100%" border="0" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">
		<tr>
			{foreach name=aussen item=module_data from=$module_content}
				<td align="center">
					<table border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td width="100%" align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main"><strong>{$module_data.SPECIAL_NAME}</strong></td>
						</tr>
						<tr>
							<td width="100%" align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">{$module_data.SPECIAL_IMAGE}</td>
						</tr>
						<tr>
							<td align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main" style="padding-top:3px;"><strong>{$module_data.SPECIAL_PRICE}</strong></td>
						</tr>
						<tr>
							<td align="center" background="{$tpl_path}images/bg_light_grey.gif" bgcolor="#EDEDED" class="main">{$module_data.SPECIAL_BUY_NOW}</td>
						</tr>
					</table>
				</td>
            {/foreach}
        </tr>
    </table>
{/if}